<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Admin Page</title>
</head>
<body
style="background-color:aliceblue">    
<% users.forEach(function(user){%>
        <form method="post" action="/admin/delete">
        <p>Name:<%=user.name%></p>
        <p>Mobile number:<%=user.mob%></p>
        <p>Email-Id: <%=user.email%></p>
        <p>Password <%=user.password%></p>
        <button type="submit" name="userr" value="<%=user._id%>">Delete</button>
        <button type="submit" formaction="/admin/update" name="userr1" value="<%=user._id%>">Update</button>
        </form>
<%});%>
</body>
</html>